/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* nav ul a,
nav .brand-logo {
  color: #444;
} */

/* nav {
    padding-top: 50px;
    color: #FFFFFF;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
} */

p {
  line-height: 2rem;
}

/* #index-banner {
    min-height: 100vh;
} */

#main-logo {
    padding-top: 10%;
}

#about img {
    height: 100%;
    width: 100%;
}

#about-summary {
    padding-left: 10%;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 100vh;
  /* height: auto; */
  color: rgba(255,255,255,.9);
  background-color: rgba(0, 0, 0, 0.6);
  /* padding: 150px; */
}

.parallax-container .section {
    width: 100%;
}

.container .section {
    /* min-height: 100vh; */
    /* width: auto; */
    padding-top: 5%;
    padding-bottom: 5%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
